{{!< default}}
<div>
	{{#if isAdmin}}
		<table id="queueTable" class="display hide" style="width:100%">
			<thead>
			<tr>
				<th>Name</th>
				<th>Song</th>
				<th>Artist</th>
				<th>Disk Number</th>
				<th>Complete</th>
			</tr>
			</thead>
			<tbody>
			{{#each queue}}
				<tr id={{_id}}>
					<td>{{name}}</td>
					<td>{{title}}</td>
					<td>{{artist}}</td>
					<td>{{disk}}</td>
                    <td>
                        <input type="checkbox" class="completed" id={{_id}}>
                    </td>
			{{/each}}
				</tr>
			</tbody>
		</table>
	{{else if queue}}
        <table id="queueTable" class="display hide" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Disk Number</th>
            </tr>
            </thead>
            <tbody>
            {{#each queue}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{title}}</td>
                    <td>{{artist}}</td>
                    <td>{{disk}}</td>
            {{/each}}
                </tr>
            </tbody>
        </table>
	{{else}}
		<h2>No active Karaoke sessions.</h2>
	{{/if}}
</div>
